@for(row of stateSvc.table();let rowIndex = $index; track rowIndex) {
<div class="row">
  @for(cell of row; let colIndex = $index; track colIndex) { @if(cell.state ===
  'visible'){
  <div class="cell" (contextmenu)="$event.preventDefault()">
    @if(cell.value === 'bomb'){
    {{ "💣" }}
    } @else if (cell.value !== 'empty') {
    {{ !!cell.value ? cell.value : " " }}
    }
  </div>
  }@else {
  <div
    class="cell cell--not-visible"
    (mouseup)="
      stateSvc.isClicking.set(false); stateSvc.isRightClicking.set(false)
    "
    (mousedown)="
      $event.button === 0
        ? stateSvc.isClicking.set(true)
        : stateSvc.isRightClicking.set(true)
    "
    (mouseleave)="
      stateSvc.isClicking.set(false); stateSvc.isRightClicking.set(false)
    "
    (click)="
      clickCell({ row: rowIndex, col: colIndex });
      stateSvc.isClicking.set(false)
    "
    (contextmenu)="
      clickRightCell({ row: rowIndex, col: colIndex, event: $event })
    "
  >
    @if(cell.state === 'flag'){
    {{ "🚩" }}
    } @else if(cell.state === 'question'){
    {{ "❓" }}
    }
  </div>
  } }
</div>
}
